@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei','微软雅黑',arial;
}

.clearfix{
	clear: both;
}

a,#audioPlayer{
	transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

/*=================================================================================================*/

header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}

#logo{
	width: 25%;
	height: 98px;
	float: left;
}
#logo img{
	width: 100%;
	height: 100%;
}

#titleArea{
	width: 64%;
	height: 98px;
	float: left;
}
#titleView{
	margin: 0 auto;
	width: 300px;
	height: 98px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
#titleView .cart{
	width: 300px;
	height: 98px;
	position: absolute;
}
#cart1{
	top: 0;
	left: 0;
}
#cart2{
	top: 0;
	left: 300px;
}
#titleView .cart h3{
	color: yellow;
	margin-top: 10px;
	width: 100%;
	word-wrap:break-word;
}
#titleView .cart h5{
	color: yellow;
	margin-left: 100px;
}

#optionArea{
	width: 10%;
	height: 98px;
	text-align: center;
	float: right;
}
#optionArea a{
	display: inline-block;
	margin-top: 30px;
	color: #ccc;
	opacity: 0.4;
}
#optionArea a:hover{
	color: #eee;
	opacity: 1;
}

#skinContent{
	height: 400px;
	overflow-y: auto;
}
.skinPic{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px;
}

/*=================================================================================================*/

#wrapper{
	margin-top: 5px;
	width: 100%;
	text-align: center;
}

#lyricArea{
	height: 380px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    color: #fff;
}
#lyricView{
	text-align: center;
	position: relative;
	top: 130px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
#lyricView p{
	color: #eee;
	font-size: 16px;
}

/*=================================================================================================*/

#audioPlayer{
	width: 500px;
	height: 100px;
	margin: 0 auto;
	margin-top: 20px;
	background: #494949;
	opacity: 0.3;
	border-radius: 5px;
	padding: 10px;
}
#audioPlayer:hover{
	opacity: 0.8;
}

#audioArea{
	width: 390px;
	height: 100%;
	float: left;
}

#controlArea{
	width: 100%;
	height: 50px;
	margin-left: 10px;
}
#controls{
	width: 45%;
	height: 100%;
	float: left;
	text-align: left;
}
#controls img{
	border: 2px solid #B0F292;
	margin-right: 20px;
	margin-top: 4px;
	cursor: pointer;
}
#controls img:hover{
	border: 2px solid #fff;
	padding: 1px;
}
#playBtn{
	width: 40px;
	height: 40px;
	border-radius: 20px; 
}
#pauseBtn{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: none;
}
#preBtn{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
#nextBtn{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

#sound{
	width: 55%;
	height: 100%;
	float: right;
}
#soundBar{
	width: 80%;
	float: left;
    margin-left: 5px;
	margin-top: 20px;
}
#soundBarTip{
	width: 25px;
	height: 25px;
	margin-top: 12px;
	float: left;
}

#progressBarArea{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
#progressBar {
    width: 70%;
	margin-top: 3px;
	float: left;
}
#timeTips{
	width: 30%;
	height: 18px;
	float: right;
	text-align: center;
	line-height: 18px;
	color: #B0F292;
}

.progressBar {
    -webkit-appearance: none;
    cursor: pointer;
	background-color: #141414;
    border-radius: 5px; /*这个属性设置使填充进度条时的图形为圆角*/
}
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
}
.progressBar::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
.progressBar:focus {
    outline: none;
}
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

#listBtn{
	width: 80px;
	height: 100%;
	float: right;
	text-align: center;
	border-left: 1px solid #ccc;
}
#listBtn img{
	width: 50px;
	height: 50px;
	margin-top: 15px;
	cursor: pointer;
}
#listBtn img:hover{
	padding: 2px;
}

/*=================================================================================================*/

footer{
	width: 100%;
	height: 20px;
	clear: both;
}

/*=================================================================================================*/

#playList{
	width: 300px;
	height: 560px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: rgba(50, 50, 50, 0.4);
	text-align: left;
	padding: 5px;
	float: left;
	overflow: auto;
	position: absolute;
	top: 105px;
	left: 0px;
	z-index: 99;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    border-radius: 15px;
	background-color: #F5F5F5;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCBCBC;
}

#playList ol li{
	color: #eee;
	font-size: 16px;
}

.menuLink,.menuLink:link,.menuLink:visited{
	cursor: pointer;
	color: #ccc;
	text-decoration: none;
}
.menuLink:hover{
	cursor: pointer;
	color: #fff;
	text-decoration: underline;
}
.isPlayonList{
	font-weight: bolder;
	font-style: italic;
	height: 40px;
	line-height: 40px;
}

/*=================================================================================================*/
